Load the data and give a look to field of csv:

In [5]:
import numpy as np
import pandas as pd

csv = pd.read_csv('PastHires.csv')
csv.head()

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
0,10,Y,4,BS,N,N,Y
1,0,N,0,BS,Y,Y,Y
2,7,N,6,BS,N,N,N
3,2,Y,1,MS,Y,N,Y
4,20,N,2,PhD,Y,N,N

### Pre-processing data:
To implement Decision Tree we have to map all Y or N with 0 or 1.
Another attribute that we have to replace is the 'Level of Education'. We replace BS with 0, MS with 1 and PhD with 2.

In [6]:
yn = {'Y':1, 'N':0}
edu = {'BS':0, 'MS':1, 'PhD':2}
csv['Employed?'] = csv['Employed?'].map(yn)
csv['Top-tier school'] = csv['Top-tier school'].map(yn)
csv['Interned'] = csv['Interned'].map(yn)
csv['Hired'] = csv['Hired'].map(yn)
csv['Level of Education'] = csv['Level of Education'].map(edu)
csv.head()

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
0,10,1,4,0,0,0,1
1,0,0,0,0,1,1,1
2,7,0,6,0,0,0,0
3,2,1,1,1,1,0,1
4,20,0,2,2,1,0,0

Extract all the feature to build our decision tree that populate the random forest:

In [8]:
colname = list(csv.columns[:6])
colname

['Years Experience',
 'Employed?',
 'Previous employers',
 'Level of Education',
 'Top-tier school',
 'Interned']

Our Random forest classifier:

In [40]:
from sklearn.ensemble import RandomForestClassifier

y = csv['Hired']
X = csv[colname]
dt = RandomForestClassifier(n_estimators=10)
model = dt.fit(X,y)

And then we can make our prediction:

In [41]:
# Predict 10-year veteran employed
print(model.predict([10,1,4,0,0,0]))
# Predict 10-year veteran unemployed
print(model.predict([10,0,4,0,0,0]))

[1]
[0]

/anaconda/lib/python3.6/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/anaconda/lib/python3.6/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)